@font-face {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        src: url('lato/arial.ttf');
    }

@font-face {
        font-family: 'Lato-Thin';
        font-style: normal;
        font-weight: 400;
        src: url('lato/Lato-Thin.ttf');
    }








