@font-face {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12vw;
        src: url('open-sans/OpenSans-Regular.ttf');
    }

@font-face {
        font-family: 'Lato-Thin';
        font-style: normal;
        font-weight: 400;
        src: url('lato/Lato-Thin.ttf');
    }








