#search_table::-webkit-scrollbar {
  width: 0.5vw;
  background-color: #f9f9fd;
}

#search_table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

#search_table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}


#test_table::-webkit-scrollbar {
  width: 0.5vw;
  background-color: #f9f9fd;
}

#test_table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

#test_table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}


::-webkit-scrollbar {
  width: 0.75vw;
  height: 0.75vw;

}

::-webkit-scrollbar-track {
  background: rgba(143, 246, 230, 0.4);
}

::-webkit-scrollbar-thumb {
  background: #a5a2a2;
  border-radius: 5px;
}